.projectile-container{
    position: fixed;
}

.projectile-img, .projectile-hitbox{
    position: absolute;
}

.projectile-img{
    top: 0;
    left: 0;
}

.projectile-hitbox{
    /*background: rgba(255, 38, 38, 0.5);*/
}

@keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}